---
import HeroFeatureCard from "./HeroFeatureCard.astro";
---

<section class="flex justify-center gap-4 flex-wrap pt-4 lg:pt-0">
  <div class="flex gap-4 pt-0 lg:pt-16 lg:grid">
    <HeroFeatureCard
      title="Mapas"
      icon="fa-trophy"
      gradient="bg-linear-to-br from-cyan-400/20 to-cyan-600/20"
      border="border border-cyan-400/10"
      iconColor="text-cyan-400"
    />

    <HeroFeatureCard
      title="Mapas"
      icon="fa-map"
      gradient="bg-linear-to-br from-emerald-400/20 to-emerald-600/20"
      border="border border-emerald-400/10"
      iconColor="text-emerald-400"
    />
  </div>

  <div class="flex gap-4 pb-0 lg:pb-16 lg:grid">
    <HeroFeatureCard
      title="Mapas"
      icon="fa-key"
      gradient="bg-linear-to-br from-emerald-400/20 to-emerald-600/20"
      border="border border-emerald-400/10"
      iconColor="text-emerald-400"
    />

    <HeroFeatureCard
      title="Mapas"
      icon="fa-wand-magic-sparkles"
      gradient="bg-linear-to-br from-rose-400/20 to-cyan-500/20"
      border="border border-cyan-400/10"
      iconColor="text-rose-400"
    />
  </div>
</section>
