---
import HeroFeatureCard from "./HeroFeatureCard.astro";
---

<section class="flex justify-center gap-4 flex-wrap pt-4 lg:pt-0">
  <div class="flex gap-4 pt-0 lg:pt-16 lg:grid">
    <HeroFeatureCard
      title="Logros"
      icon="fa-trophy"
      gradient="bg-linear-to-br from-primary/20 to-primary/30"
      border="border border-primary/20"
      iconColor="text-primary"
    />

    <HeroFeatureCard
      title="Mapas"
      icon="fa-map"
      gradient="bg-linear-to-br from-accent/20 to-accent/30"
      border="border border-accent/20"
      iconColor="text-accent"
    />
  </div>

  <div class="flex gap-4 pb-0 lg:pb-16 lg:grid">
    <HeroFeatureCard
      title="Secretos"
      icon="fa-key"
      gradient="bg-linear-to-br from-accent/20 to-accent/30"
      border="border border-accent/20"
      iconColor="text-accent"
    />

    <HeroFeatureCard
      title="Tips"
      icon="fa-wand-magic-sparkles"
      gradient="bg-linear-to-br from-rose-400/20 to-cyan-500/20"
      border="border border-rose-400/10"
      iconColor="text-rose-400"
    />
  </div>
</section>
