---
import HeroHeader from "@/components/Hero/HeroHeader.astro"
import HeroFeature from "@/components/Hero/HeroFeature.astro"
---

<section class="hero-glow flex items-center py-4 px-4">

  <div class="mx-auto grid grid-cols-1 lg:grid-cols-2 gap-4 p-4">
    <HeroHeader/>
    <HeroFeature/>
  </div>
  
</section>