---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero/Hero.astro';
---

<Layout 
  title="Inicio - Game Guides" 
  description="Guías detalladas, secretos y misiones paso a paso para tus juegos favoritos.">
  
  <section class="pt-20">
    <Hero />
  </section>

</Layout>
